html {
  font-size: @base-font-size;
}
body {  
  font-family: sans-serif;
  color: #fff;
  background-color: #000;
  background-image: url("../img/bg-pattern.jpg");  
  min-width: 640px;  
}
img {
  max-width: 100%;
  width: auto;
}